[project]
	description = Small Scala wrapper for gnuplot
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/J. T. (johntoenail)
[access "refs/for/refs/*"]
	read = group user/J. T. (johntoenail)
	push = group user/J. T. (johntoenail)
	label-Code-Review = -2..+2 group user/J. T. (johntoenail)
	label-Verified = -1..+1 group user/J. T. (johntoenail)
	rebase = group user/J. T. (johntoenail)
	removeReviewer = group user/J. T. (johntoenail)
	submit = group user/J. T. (johntoenail)
[access "refs/heads/*"]
	read = group user/J. T. (johntoenail)
	create = group user/J. T. (johntoenail)
	push = +force group user/J. T. (johntoenail)
	pushMerge = group user/J. T. (johntoenail)
[access "refs/tags/*"]
	push = +force group user/J. T. (johntoenail)
	pushTag = group user/J. T. (johntoenail)
	pushSignedTag = group user/J. T. (johntoenail)
